.dialogContent {
	border-color: var(--color-sidebar-ring);
}

.title {
	color: white;
}

.description {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.text {
	color: white;
	margin-top: 6px;
	margin-bottom: 6px;
	font-size: 14px;
}

.button {
	margin-top: 20px;
}