.wrapper {
	background-color: var(--color-foreground);
	padding: 23px 18px 53px 18px;
	border-radius: 15px;
}

.title {
	font-size: 16px;
	font-weight: bold;
	color: white;
	text-align: start;
	margin-bottom: 22px;
}
