.link {
	position: relative;
}

.link::after {
	content: '';
	position: absolute;
	display: block;
	background-color: var(--color-primary);
	width: 6px;
	height: 6px;
	border-radius: 100%;
	left: 50%;
	transform: translateX(-3px);
	transition: background-color 0.3s ease;
	display: none;
}

.iconWrapper {
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
}

.icon {
	width: 100%;
	height: 100%;
	object-fit: contain;
	transition: opacity 0.3s ease;
}

.link:hover .iconWrapper::after,
.link.active .iconWrapper::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-primary);
	-webkit-mask-image: var(--icon-url);
	mask-image: var(--icon-url);
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-position: center;
}

.link:hover .icon,
.link.active .icon {
	opacity: 1;
}

.link.active::after {
	display: block;
}
