.wrapper {
	display: flex;
	justify-content: space-between;
}

.item {
	display: flex;
	flex-direction: column;
	font-weight: 900;
	text-align: center;
	font-size: 16px;
}

.title {
	color: #939393;
	font-weight: 200;
}
