.wrapper {
	padding: 0 30px;
	display: flex;
	
}

.heading {
	color: white;
	font-size: 40px;
	margin-bottom: 60px;
	text-align: center;
	font-weight: 900;
}

.copyright {
	font-weight: 200;
	font-size: 14px;
	color: white;
	text-align: center;
}
