.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px;
	padding: 24px;
	max-width: 1280px;
	margin: 0 auto;
	overflow: hidden;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 560px;
	width: 100%;
	margin: 0;
}

.heading {
	color: white;
	font-size: 40px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: 900;
	font-style: italic;
}

.copyright {
	font-weight: 200;
	margin-top: 20px;
	font-size: 12px;
	color: white;
	text-align: center;
}

.image {
	position: relative;
	border-radius: 16px;
	overflow: hidden;
	height: 100%;
}

.img {
	object-fit: cover;
	object-position: 60% 20%;
}

@media (max-width: 1024px) {
	.wrapper {
		grid-template-columns: 1fr;
		padding: 16px;
		gap: 16px;
	}
	.image {
		display: none;
	}
	.content {
		max-width: 420px;
	}
}
