.wrapper {
	padding: 0 30px;
	display: flex;
}

.content {
	margin: auto;
	max-width: 400px;
	width: 100%;
}

.heading {
	color: white;
	font-size: 40px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: 900;
	font-style: italic;
}

.copyright {
	font-weight: 200;
	font-size: 14px;
	color: white;
	text-align: center;
}
