.wrapper {
	position: relative;
	margin-top: -50px;
	z-index: 5;
	background: var(--foreground);
	border-radius: 15px;
	color: white;
	padding: 20px 25px 35px;
	margin-bottom: 30px;
}

.avatarContainer {
	position: relative;
}
