.header {
	display: flex;
	align-items: center;
}

.link {
	display: flex;
	align-items: center;
}

.icon {
	padding-left: 5px;
	background: #000;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 40px;
	font-weight: bold;

	background: linear-gradient(90deg, #fffd02 36%, #999801 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;
}
