.input {
	border-color: transparent;
	background-color: var(--color-foreground);
	border-radius: 15px;
	font-size: 24px;
	padding: 16px 15px;
	max-width: fit-content;
}

.input::placeholder {
	color: white;
	opacity: 0.35;
}