.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 200px;
}

.loaderContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.text {
	margin-top: 16px;
	font-size: 18px;
	color: var(--text-secondary);
}