.wrapper {
	position: relative;
	height: 180px;
	overflow: hidden;
	border-radius: 15px;
	background: linear-gradient(195deg, #1a1a1a 36.83%, #808080 99.74%);
}

.image {
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -58%);
	width: 110%;
	max-width: none;
	height: auto;
	pointer-events: none;
}
